apscheduler>=3.7.0
hikari[speedups]~=2.0.0.dev103; python_version < "3.10"
hikari~=2.0.0.dev103; python_version == "3.10"
hikari-lightbulb~=1.5.2
uvloop>=0.16; sys_platform != "win32"
git+https://github.com/FasterSpeeding/Sake@task/raw-dispatch